.react-flow__node-task:hover {
  border-color: blue;
}
.react-flow__node-task.selected {
  border-color: blue;
}
.react-flow__node-task {
  padding: 10px;
  border-radius: 3px;
  width: 150px;
  font-size: 12px;
  color: #222;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #1a192b;
  background-color: white;
}

.delete-btn {
  background-color: unset;
  border: unset;
  padding: unset;
  position: absolute;
  right: 0;
  color: #ff7b7b;
}
.delete-btn:hover {
  background-color: unset;
  border: unset;
  padding: unset;
  position: absolute;
  right: 0;
  color: #ff0000;
}
