.react-flow__node-task:hover {
  border-color: blue;
}
.react-flow__node-task.selected {
  border-color: blue;
}
.react-flow__node-task {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-size: 12px;
  color: #222;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #1a192b;
}
.react-flow__handle {
  transition: 0.15s padding ease-in;
}
.react-flow__handle:hover {
  padding: 7px;
  transition: 0.5s padding ease-out;
  transition: bottom 0.25s;
  bottom: -8px;
}
.action-container {
  border-radius: 0px 3px 3px 0px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 3px;
}
.action-btn {
  background-color: unset;
  border: unset;
  padding: unset;
  outline: unset;
}
.action-btn:focus {
  outline: unset;
}
.delete-btn {
  color: #ff7b7b;
}
.delete-btn:hover {
  color: #ff0000;
}
.edit-btn-confirm {
  color: rgb(13 148 136);
}
.edit-btn-confirm:hover {
  color: rgb(20 184 166);
}
.edit-btn {
  color: gray;
}
.edit-btn:hover {
  color: black;
}
.complete-btn {
  color: rgb(13 148 136);
}
.complete-btn:hover:enabled {
  color: rgb(20 184 166);
}
.complete-btn:disabled {
  color: rgb(160, 160, 160);
}

.label-input {
  background: white;
  border: 1px solid gray;
  width: 50%;
  border-radius: 3px;
  font-size: x-small;
}

[data-tooltip] {
  position: relative;
}
[data-tooltip]::after {
  font-family: sans-serif;
  font-size: 5px;
  white-space: nowrap;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  left: 0;
  border-radius: 3px;
  background-color: white;
  color: black;
  z-index: 10;
  padding: 3px;
  transform: translateY(-10px);
  transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
[data-tooltip]:hover::after {
  opacity: 1;
  transition-duration: 300ms;
}
