.add-button {
  padding: unset;
  border: unset;
  background-color: #242424;
  color: #3572ef;
}
.add-button:hover {
  color: #3abef9;
}
.add-button:focus {
  outline: unset;
}

@media (prefers-color-scheme: light) {
  .add-button {
    background-color: white;
  }
}
